body {
    font-family: Arial;
    margin: 0;
    background-color: #d9dcd6;
}

.header, header div {
    padding: 20px;
    text-align: right;
    background: #0c4606;
    color: #d9dcd6;
}
.header h1 {
    text-align: left;
    font-size: 36px;
}

/* Makes bullet points dissappear*/
.header div ul {
    list-style-type: none;
}

.header div ul li {
    display: inline-block;
    margin-left: 25px;
}

.header div {
    padding-top: 10px;
    margin-right: 0px;
    float: right;
    font-size: 20px;
    width: 100%;
    display: flex;
}

a {
    background: #0c4606;
    color: #d9dcd6;
    text-decoration: none;
    display: inline-block;
}

.about-me {
    border: 2px solid black;
    width: 75%;
    margin-top: 50px;
}

.resume {
    height: 200px;
    width: 100%;
    margin-bottom: 25px;
    position: center; border-radius: 25px;
}
.portfolio {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 25px;
    padding-top: 50px;
    padding-bottom: 25px;
}
  
/* Set equal size for the portfolio photos */
.portfolio-photos img {
    width: 100%;
    height: auto;
}

.resume {
    padding-top: 0px;
    padding-bottom: 350px;
}

.resume img {
    width: 200px;
    border: 2px solid #333;
    float: right;
    margin: 20px;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    display: inline-block;
}

.footer a {
    background-color: #333;
    color: #fff;
    display: inline-block;
}

.div a {
    background: #0c4606;
    color: #d9dcd6;
}