body {
    font-family: Arial;
    margin: 0;
    background-color: #d9dcd6;
}

.header {
    padding: 20px;
    text-align: right;
    background: #0c4606;
    color: #d9dcd6;
}
.header h1 {
    text-align: left;
    font-size: 36px;
}

/* Makes bullet points dissappear*/
.header div ul {
    list-style-type: none;
}

.header div ul li {
    display: inline-block;
    margin-left: 25px;
}

.header div {
    padding-top: 10px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
    
}

a {
    color: #07350c;
    text-decoration: none;
    display: inline-block;
}

.resume {
    height: 200px;
    width: 100%;
    margin-bottom: 25px;
    position: center; border-radius: 25px;
}
.portfolio {
    display: flex;
    flex-wrap: wrap;
    margin: 40px;
    padding: 30px;
}

.portfolio-photos {
    max-width: 31.333%;
    padding: 0 10px;
    height: 120px;
}

.portfolio-photos img {
    width: 100%;
    height: 100%;
}

.footer p {
    display: inline-block;
    padding: 30px;
    text-align: left;
    text-decoration-color: black;
}